* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
button:hover,
input[type="button"] {
  cursor: pointer;
}
/* input[type="button"]{
  cursor: pointer;
} */
/* Full site */
.site-color {
  color: #fd6e0a;
}
/* for nav section */
.full-nav-sec {
  display: flex;
  justify-content: space-between;
  margin: 0px 230px;
}
.nav-options {
  display: flex;
  align-items: center;
}
/* nav > ul >li */
.list-op {
  list-style: none;
  margin-left: 50px;
}
/* heading of nav */
h3.nav-head {
  font-weight: 800;
  font-size: 45px;
}
/* For top right corner button of the site */
.top-right-btn {
  color: white;
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

/* the banner section where there are paragraph and hardy's pictures available */
.banner {
  display: flex;

  align-items: center;
  background-image: url(../images/header_bg.png); /*, url("../images/developer.png")*/
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 50px;
}
#banner2 {
  background-image: url("../images/developer.png");
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-writings-btns {
  margin: 50px 230px;
}
/* for coloring the head of the body */
.full-body-head {
  background-color: #fff8f3;
  padding-top: 50px;
}
/* banner button 1 for download CV */
.banner-button1 {
  width: 200px;
  height: 64px;
  background-color: #fd6e0a;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}
/* banner button 2 for contact */
.banner-button2 {
  color: #fd6e0a;
  border-color: #fd6e0a;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  width: 160px;
  height: 64px;
  margin-left: 30px;
  border-width: 0.5px;
}
/* inner writings of banner section */
.inner-writings1 {
  font-weight: 600;
  font-size: 45px;
}
.inner-writings2 {
  font-weight: 700;
  font-size: 85px;
}
.inner-writings3 {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0;
}
/* main section----About me section */
.about-me {
  margin: 135px 230px;
  background-color: #fff8f3;
  padding: 126px 150px;
}
/* heading of about me */
.abot-me-heading {
  font-weight: 700;
  font-size: 35px;
  width: 169px;
  height: 48px;
}
.about-me-details {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-top: 30px;
}
.about-me-details,
.about-me-heading {
  text-align: center;
}
/* Information Section */
.info {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.info-about {
  color: #757575;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.details {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
  text-align: center;
}
